# ValidationResult

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**is_schema_compliant** | **bool** | Indicates if the validation produced no errors | 
**check_results** | [**list[ValidationCheckResult]**](ValidationCheckResult.md) | List of validation check results, which are usually errors | [optional] 
**validation_type** | [**ValidationType**](ValidationType.md) | The type of the validation that was performed | 
**file_name** | **str** | Name of the validated file | [optional] 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


